/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}
.drum-image-grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90vh;
  height: 90vh;

  border: 1px solid red;
  /* max-width: 728px;
  max-width: 728px; */
}


.drum-image-grid > * {
  width: 100%;

}

.btn-drum {
  background: none;
  border: none;
  /* border: 1px solid red; */
  z-index: 2;
}
.drum-image {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: -1;
  grid-column-end: -1;
}

/* Flex */

main {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

}

@media (min-width: 1025px) {
  /* CSS for desktops */
}

@media (min-width: 481px) and (max-width: 822px) {
  /* CSS for tablets */
  .drum-image-grid {
    width: 100vw;
    height: 100vw;
  }
}

@media (max-width: 480px) {
  /* CSS for mobiles */

  .drum-image-grid {
    width: 100vw;
    height: 100vw;
  }
}

/* Position the drums */

#ride {
  grid-area: 2 / 5 / 4 / 12;
}

#medium-tom {
  grid-area: 5 / 9 / 10 / 14;
}

#crash {
  grid-area: 2 / 16 / 4 / 23;
}

#high-tom {
  grid-area: 5 / 14 / 9 / 17;
}

#hi-hat {
  grid-area: 5 / 19 / 7 / 23;
}

#floor-tom {
  grid-area: 7 / 6 / 13 / 9;
}
#floor-tom-2 {
  grid-area: 10 / 9 / 13 / 10;
}
#floor-tom-3 {
  grid-area: 10 / 10 / 12 / 11;
}


#snare {
  grid-area: 8 / 17 / 10 / 19;
}
#snare-2 {
  grid-area: 9 / 14 / 10 / 17;
}

#bass-drum {
  grid-area: 10 / 11 / 18 / 18;
}

#bass-drum-2 {
  grid-area: 12 / 10;
}
#bass-drum-3 {
  grid-area: 13 / 9 / 18 / 11;
}
#bass-drum-4 {
  grid-area: 18 / 10 / 19 / 17;
}
#bass-drum-5 {
  grid-area: 19 / 12 / 20 / 15;
}

#sound-text-container {
  grid-area: 21 / 1 / 25/ 25;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* #ride {
  grid-area: 8 / 17 / 10 / 19;
}
#ride-2 {
  grid-area: 9 / 14 / 10 / 17;
} */